.header {
    background-color: #FF6347;
    position: fixed;
    top: 0;
}

.footer {
    background-color: #FF6347;
    position: fixed;
    bottom: 0;
    width: 100%
  }

.toolBar {
    color: #fff;
}

.ScatterPlotWrapper {

}

.InfoTableWrapper {
}
